aiohappyeyeballs==2.7.1 ; python_version >= "3.12" and python_version < "4.0"
aiohttp==3.14.3 ; python_version >= "3.12" and python_version < "4.0"
aiosignal==1.4.0 ; python_version >= "3.12" and python_version < "4.0"
amqp==5.3.1 ; python_version >= "3.12" and python_version < "4.0"
asgiref==3.12.1 ; python_version >= "3.12" and python_version < "4.0"
attrs==26.1.0 ; python_version >= "3.12" and python_version < "4.0"
billiard==4.2.4 ; python_version >= "3.12" and python_version < "4.0"
celery==5.6.3 ; python_version >= "3.12" and python_version < "4.0"
certifi==2026.7.22 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.5.1 ; python_version >= "3.12" and python_version < "4.0"
click-didyoumean==0.3.1 ; python_version >= "3.12" and python_version < "4.0"
click-plugins==1.1.1.2 ; python_version >= "3.12" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.12" and python_version < "4.0"
click==8.4.2 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
django-environ==0.14.0 ; python_version >= "3.12" and python_version < "4.0"
django-split-settings==1.3.2 ; python_version >= "3.12" and python_version < "4.0"
django==6.1 ; python_version >= "3.12" and python_version < "4.0"
frozenlist==1.8.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.19 ; python_version >= "3.12" and python_version < "4.0"
kombu==5.6.2 ; python_version >= "3.12" and python_version < "4.0"
loguru==0.7.3 ; python_version >= "3.12" and python_version < "4.0"
multidict==6.7.1 ; python_version >= "3.12" and python_version < "4.0"
packaging==26.3 ; python_version >= "3.12" and python_version < "4.0"
progressbar2==4.6.0 ; python_version >= "3.12" and python_version < "4.0"
prompt-toolkit==3.0.53 ; python_version >= "3.12" and python_version < "4.0"
propcache==0.5.2 ; python_version >= "3.12" and python_version < "4.0"
pytelegrambotapi==4.36.1 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.2.3 ; python_version >= "3.12" and python_version < "4.0"
python-utils==4.0.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.34.2 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.6.0 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.16.0 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2026.3 ; python_version >= "3.12" and python_version < "4.0"
tzlocal==5.4.4 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.7.0 ; python_version >= "3.12" and python_version < "4.0"
vine==5.1.0 ; python_version >= "3.12" and python_version < "4.0"
wcwidth==0.8.2 ; python_version >= "3.12" and python_version < "4.0"
win32-setctime==1.2.0 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
yarl==1.24.5 ; python_version >= "3.12" and python_version < "4.0"
